* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a40e4c;
    text-align: center;
}

.box {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.gamespace {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 9vmin;
     color:#2c2c54 ;
     background-color: aqua;
}

#clear {
    border-radius: 1rem;
    border: white;
    color: aliceblue;
    padding: 1rem;
    background-color:#93E1D8;
}

#newgame {
    border-radius: 1rem;
    border: none;
    color: aliceblue;
    padding: 1rem;
    background-color: #93E1D8;
}

.winmsg {
    height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
    display: none;
}
#msg {
    color: antiquewhite;
    font-size: 5vmin;
}